.header {
	background-color: var(--primary-color);
	border-radius: 30px;
    color: #F0EAD1
    
}

.header ul {
	list-style-type: none;
	display: flex;
	
}

.header a {
	margin: 10px;
	padding: 0 15px;
	font-size: 20px;
	text-decoration: none;
	color: #F0EAD1;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;


}


.flex {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
}


.profile {
    max-width: 100%;
    max-height: 100%;
}

.logo {
	padding-left: 20px;
}




