.login-box {
	justify-content: center;
	display: flex;
}
.login-container {
	width: 300px;
	height: 400px;
	background-color: #7393B3;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	text-align:center;
	margin: 20px 0;
    font-size: 20px;
    color: #F0EAD1;
    
	
}

.login-container h1{
	margin: 20px 10px;
}

.login-container p{
	margin: 15px 50px;
	text-align: left;
}

.input-area {

    font-size: 15px;
    width: 60%;
    background: #F0EAD1;
    color:#7393B3;
    height: 50px;
	border: none;
    /* border-radius: 25px; */
    padding: 0 15px 0 30px;
	margin: auto;
}

.input-btn {
	width: 100px;
    background: #F0EAD1;
	text-align:center;
	margin: 40px 10px;
    color: #7393B3
}
